.footer {
  background: #f3f3f3;
  padding-top: 30px;
}

.footer .center {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media(max-width: 800px) {
  .footer .center {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__copyright {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.footer__content {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.footer__contact {
  margin-left: 15px;
}

.footer__content svg {
  width: 25px;
  height: 35px;
  flex-shrink: 0;
  flex-grow: 0;
}
