.footer {
  padding-top: 30px;
  box-shadow: inset 0 3px 1px 0 rgba(148, 148, 148, 1);
}

.footer .center {
  display: flex;
  justify-content: space-between;
}

.footer__contact {
  display: flex;
  align-items: center;
}

.footer__contact svg {
  margin-right: 20px;
}
