.main__title {
  font-family: 'Oswald', sans-serif;
  font-size: 38px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
}

.main--staff {
  padding-top: 40px;
  padding-bottom: 55px;
}
